body {
  width: 100%;
  height: 100%;
  margin: 0;
  /*text-align: center;*/
}

h1 {
  text-align: center;
}

figure {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  padding: 10px;
  background-color: grey;
}

figcaption {
  text-align: center;
  font-size: 11px;
}

#featured-property p {
  width: 800px;
  text-align: center;
}

#details {
  display:block;
}

#details div {
  float:left;
}